/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .1rem;
  color: rgb(48, 48, 48);
}

h3 {
  font-size: 1.8rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: rgb(133, 133, 133);
  line-height: 2.3rem;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: rgb(133, 133, 133);
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  background: rgba(127, 255, 238, .3);

}

.wrapper {
  padding: 1rem 1.3rem;
  text-align: center;
  background: #fafafa;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* ================================= 
  Main Styles
==================================== */

.main-name {
  font-size: 3rem;
}

.main-nav a {
  display: block;
  margin: .7rem 0;
  padding: 1rem 1rem;
  background: #fff;

}

.main-nav a:hover {
  background: rgba(127, 255, 238, .3);

}

main {
  margin-top: 5rem;
}

/* ================================= 
  Portofolio Styles
==================================== */
.portfolio {
  margin-top: 100px;
  padding-top: 3rem;
  background: #fff;
}

.port-title {
  text-transform: uppercase;
}

.card {
  margin: 3.5rem 0;
  padding: 0 1.3rem;
}

/* ================================= 
  Footer Styles
==================================== */
footer {
  text-align: center;
  background: #fafafa;
  padding: 3rem 1rem 3rem 1rem;
}

.footer-contact {
  margin-bottom: 6rem;
}

footer .bolder {
  font-weight: bolder;
  letter-spacing: .1rem;
}

hr {
  /* https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element*/
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #e7e7e7;
  margin: 1em auto 2.5rem auto;
  padding: 0;
  width: 80%;
}

footer a {
  display: block;
  width: 40%;

}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.footer-nav-hider {
  display: none;
}

/* ================================= 
  Media Queries 768
==================================== */

@media (min-width: 768px) {
  .wrapper {
    padding: 1rem 0;
  }

  .main-header {
    padding: 1rem 1.3rem;
  }

  main {
    padding: 1rem 1.3rem;
  }

  .main-nav {
    width: 60%;
    margin: 0 auto;
  }

  .main-nav a {
    float: left;
    width: calc(33.3%);
  }

  .main-info {
    text-align: left;
  }

  .cartoon-photo {
    float: right;
    padding: 1rem;

  }

  .portfolio {
    padding: 1rem 1.3rem;
  }

  .card {
    float: left;
    width: calc(50%);
    padding: 0 .5rem;
    margin: 2rem 0;
  }

  .display-none {
    display: none;
  }

  .footer-nav-hider {
    display: block;
    float: right;
    width: 50%;
  }

  .footer-nav-hider a {
    display: block;
    float: left;
    width: calc(33.3%);
    padding: 0;
    margin: 0;
  }

  .footer-nav-smaller {
    float: left;
    width: 40%;
  }


}