/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
  letter-spacing: .1rem;
  color: rgb(48, 48, 48);
}

h3 {
  font-size: 1.8rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: rgb(133, 133, 133);
  line-height: 2.3rem;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: rgb(133, 133, 133);
  text-transform: uppercase;
  font-weight: bold;
}

a:hover {
  background: rgba(127, 255, 238, .3);

}

.wrapper {
  padding: 1rem 1.3rem;
  text-align: center;
  background: #fafafa;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.border-bot {
  border-bottom: 5px solid orangered;
  padding-bottom: 3px;
}

/* ================================= 
  Main Styles
==================================== */
.main-header {
  padding-bottom: 100px;
}

.main-name {
  font-size: 3rem;
  font-style: italic;

}


.main-nav li {
  background: rgb(58, 58, 58);
  border-radius: 20px 5px 20px 5px;
  margin-bottom: 20px;
}

.main-nav a {
  display: block;
  padding: 1rem 1rem;
  color: white;


}

.main-nav a:hover {
  background: rgba(127, 255, 238, .3);

}

main {
  padding-bottom: 50px;
}

/* ================================= 
  Portofolio Styles
==================================== */
.portfolio {
  padding-top: 3rem;
  background: #fff;
  box-shadow: 2px 2px 2px 2px rgb(223, 223, 223);
}

.port-title {
  text-transform: uppercase;

}

.card {
  margin: 3.5rem 0;
  padding: 0 1.3rem;
}

.card img {
  transition: transform .2s;
}

.card img:hover {
  transform: scale(1.2)
}

/* ================================= 
  Footer Styles
==================================== */
footer {
  text-align: center;
  background: #fafafa;
  padding: 3rem 1rem 3rem 1rem;
}

.footer-contact {
  margin-bottom: 6rem;
}

.contact-info {
  margin: 5rem 0 0 0;

}

.contact-info p {
  margin: 0;

}

footer .bolder {
  font-weight: bolder;
  letter-spacing: .1rem;
}

hr {
  /* https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element*/
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #e7e7e7;
  margin: 1em auto 2.5rem auto;
  padding: 0;
  width: 80%;
}

footer a {
  display: block;
  width: 40%;

}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

footer ul li:nth-child(1n+3) {
  display: none;
}



/* ================================= 
  Media Queries 768
==================================== */

@media (min-width: 768px) {
  .wrapper {
    padding: 1rem 0;
  }

  .main-header {
    padding: 1rem 1.3rem;
  }

  main {
    padding: 100px 1.3rem;
    margin: 0;
  }

  .main-nav {
    width: 60%;
    margin: 0 auto;
    border-radius: 20px 5px 20px 5px;
    background: rgb(58, 58, 58);
  }

  .main-nav li {
    margin: 0;
  }

  .main-nav a {
    display: block;
    padding: 1.5rem 1rem;
    color: white;


  }


  .main-nav a {
    float: left;
    width: calc(33.3%);
  }

  .main-info {
    text-align: left;
    margin: 0;
    padding: 0
  }

  .cartoon-photo {
    float: right;
  }

  .portfolio {
    padding: 1rem 1.3rem;
  }

  .card {
    float: left;
    width: calc(50%);
    padding: 0 .5rem;
    margin: 2rem 0;
  }

  .display-none {
    display: none;
  }


  footer ul li:nth-child(1n+3) {
    display: block;

  }

  footer ul li a {
    float: right;
    width: calc(20%);
    padding: 0;
    margin: 0;
  }

  .footer-info {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 80%;
    margin: 0 auto;
  }


}

/* ================================= 
  Media Queries 1024
==================================== */

@media (min-width: 1024px) {

  .main-name {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
  }

  .main-nav {
    display: inline-block;
    float: right;
    max-width: 50%;
  }

  .wrapper {
    padding: 1rem 1.3rem;
  }

  .main-info {
    width: 60%;
    font-size: 2rem;
    line-height: 1.3;
  }

  .cartoon-photo {
    width: 40%;
    padding: 0 2rem;
  }

  .card {
    width: calc(33.3% - 20px);
    padding: 0 .5rem;
    margin: 2rem 10px;
  }

  .footer-info {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 60%;
    margin: 0 auto;
  }
}