/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .1rem;
  color: rgb(48, 48, 48);
}

h3 {
  font-size: 1.8rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: rgb(133, 133, 133);
  line-height: 2.3rem;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: rgb(133, 133, 133);
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper {
  padding: 1rem 1.3rem;
  text-align: center;
  background: #fafafa;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* ================================= 
  Main Styles
==================================== */

.main-name {
  font-size: 3rem;
}

.main-nav a {
  display: block;
  margin: .7rem 0;
  padding: 1rem 1rem;
  background: #fff;

}

main {
  margin-top: 5rem;
}

/* ================================= 
  Portofolio Styles
==================================== */
.portfolio {
  margin-top: 100px;
  padding-top: 3rem;
  background: #fff;
}

.port-title {
  text-transform: uppercase;
}

.card {
  margin: 3.5rem 0;
  padding: 0 1.3rem;
}

/* ================================= 
  Footer Styles
==================================== */
footer {
  text-align: center;
  background: #fafafa;
  padding: 3rem 1rem 1.5rem 1rem;
}

.footer-contact {
  margin-bottom: 6rem;
}

footer .bolder {
  font-weight: bolder;
  letter-spacing: .1rem;
}

hr {
  /* https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element*/
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #e7e7e7;
  margin: 1em auto 2.5rem auto;
  padding: 0;
  width: 80%;
}

footer a {
  display: block;
  width: 40%;

}

.float-l {
  float: left;
}

.float-r {
  float: right;
}